@import './variables.scss';

.main {
  margin-top: 80vh;
}

h1 {
  font-size: 3rem;
  text-align: left;
  line-height: 1.1;

  span {
    font-family: $secondaryFont;
    font-size: 3.5rem;
    color: $amaranth-purple;
  }
}

.p {
  text-align: left;
}

.donut-article {
  border: 2px solid $amaranth-purple;
  background-color: white;
  width: 340px;
  height: 500px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  
}

img {
  width: 300px;
}

.donut-article:last-child {
  margin-bottom: 9rem;
}

.donut-heading {
  font-family: $secondaryFont;
}

.donut-description {
  margin-top: -1rem;
  font-size: 1.3rem;
  font-style: italic;

}

.amount-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  // gap: 1rem;
}

.decrease-btn , .increase-btn {
  background-color: transparent;
  border: 4px solid $amaranth-purple;
  color: $amaranth-purple;
  font-family: $secondaryFont;
  font-size: 1em;
  padding: 0;
  width: 44px;
  height: 44px;
}

.decrease-btn {
  margin-right: 0.5rem;
}

.buy-btn {
  // margin-top: 0.5rem;
  margin-left: 2rem;
  width: 108px;
}

@media screen and (min-width: 768px) {
  .main-donut {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 

  }

.donut-article {
  margin-bottom: 0;
  align-content: space-between;

}

}

@media screen and (min-width: 1024px) {
  .main-donut {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem; 

  }

.donut-article {
  margin-bottom: 0;

}
.donut-article:nth-last-child(-n+3) {
  margin-bottom: 10rem;
}
}