@import '../style/variables.scss';

nav {
    z-index: 20;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    width: 100%;

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        button {
            width: 50px;
        }
    }
}

@media screen and (min-width: 1024px) {
    nav {
        width: 100%
    }
}