@import '../style/variables.scss';

nav {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid $persian-rose ;
    position: relative;

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        button {
            width: 50px;
        }
    }
}

@media screen and (min-width: 1024px) {
    nav {
        width: 90%
    }
}